{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clients/css/client.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="container-clients">
            <h1>Clientes</h1>
            <a href="{% url 'clients-add' %}">Cadastrar Cliente</a>
            {% for  client in clients %}
                <div class="card-client">
                    <p><strong>Nome:</strong> {{ client.name }}</p>
                    <p><strong>Endereço:</strong> {{ client.address }}</p>
                    <p><strong>Telefone:</strong> {{ client.phone }}</p>
                </div>
            {% endfor %}
            
        </div>

    </div>
{% endblock%}