{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'services/css/service.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <div class="container">
      <div class="container-services">
        <h1>Serviços</h1>
        {% for  service in services %}
            <div class="card-services">
                <p>{{ service.description }}</p>
                <p><strong>Valor:</strong> R$ {{ service.value }}</p>
            </div>
        {% endfor %}
        
    </div>
    </div>
{% endblock%}