{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'calls/css/call.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <h1>Atendimentos</h1>
        <div class="container-calls">
            {% for call in calls %}
                {% if call.status == 'Pendente' %}
                <div class="card-call-pending">
                    <p><strong>{{ call }}</strong></p>
                    <p><strong>Cliente: </strong> {{ call.client }}</p>
                    <p><strong>Status: </strong>{{ call.status }}</p>

                    {% if call.status == 'Pendente' %}
                    </br>
                    <a href="">Concluir atendimento</a>
                    <a href="">Cancelar atendimento</a>
                    <a href="{% url 'call-detail' call.id %}">Detalhes</a>
                    {% endif %}
                </div>
                {% elif call.status == 'Realizado' %}
                <div class="card-call-success">
                    <p><strong>{{ call }}</strong></p>
                    <p><strong>Cliente: </strong> {{ call.client }}</p>
                    <p><strong>Status: </strong>{{ call.status }}</p>
                    </br>
                    <a href="{% url 'call-detail' call.id %}">Detalhes</a>
                </div>
                {% elif call.status == 'Cancelado' %}
                <div class="card-call-canceled">
                    <p><strong>{{ call }}</strong></p>
                    <p><strong>Cliente: </strong> {{ call.client }}</p>
                    <p><strong>Status: </strong>{{ call.status }}</p>
                    </br>
                    <a href="{% url 'call-detail' call.id %}">Detalhes</a>
                </div>
                {% endif %}
            {% endfor %}

        </div>

        <div><a href="">Cadastrar atendimento</a></div>
        
    </div>
{% endblock%}